.container {
  background: #fff;
  padding: 40px;
  display: flex;
  .avatar {
    width: 150px;
    border-radius: 50%;
  }

}
.infoBox {
  margin-left: 20px;
  p {
    color: #000;
  }
  p > span {
    
    margin-right: 20px;
  }
  p.tagList{
    color: #817F82;
  }
}